.main-navbar{   
    align:right;
}
.navbar-brand{
    font-size: 50px;
}
.topbar{
	height: 400px;
}
.search-form{
	margin-top: 150px;
}
.topbar
{
    background-image: url(login.jpg);
}

.jumbotron
{
    background-color: rgba(1,165,136,0.9);
    margin-top: 20px;
    color: white;
}

.deal-box
{ 
    float: left;
    height:200px;
    width: 300px;
    display: block;
    border: 2px solid black;
}
    
#left-side{
    margin-left: 0px;
}
.deal-box img
{
    height: 200px;
    width:  300px;
    border: 2px solid black;
}

.nav-stacked{
    margin-top: 30px;
}

.nav-stacked>li>a:hover{ 
    background-color:rgba(1,165,136,0.9); 
    color: white;
}

/* Login CSS */
#login-text{
	color: black;
    text-decoration: underline;
}

.caret{
	color:black;
}
.navbar-login .navbar-text{
	color:white ;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
     background-color: rgba(1,165,136,0.9);
}

a{
    color: black;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: rgba(1,165,136,0.9);
}

.dropdown-menu>li>a:hover {
    background-color: rgba(1,165,136,0.9);   
}
